extends layout

block content
  section.w3l-error-9
    .error-page
      .wrapper-full
        .main-content
          h2 Sorry #{error.status}
          h4= message
          p
            | You can either return to the previous page, visit our homepage or contact our support team.
          // buttons
          .buttons
            a.btn.brk-btn-bg.brk-btn(href='/api')
              | Go to Homepage
        .bottom-header
          // copyright

  //h1= message
  //h2= error.status
  //pre #{error.stack}
  //p Welcome to #
